/*
            FUENTES PARA ESTILAR
*/
@font-face{
    font-family: 'Playwrite Hrvatska Lijeva';
    src:url(Fonts/Playwrite_HR_Lijeva/static/PlaywriteHRLijeva-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Poppins';
    src:url(Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Poppins';
    src:url(Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face{
    font-family: 'Nunito';
    src:url(Fonts/Nunito/Nunito-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

/*
            ESTILADO DEL PROYECTO
*/

body{
    background-color: #5F8670;
}

h1{
    font-family: 'Playwrite Hrvatska Lijeva';
    font-weight: 400;
    color: #B80000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h3{
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
}

/*
            Sección Personal
*/

section.personal{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FF9800;
    border-radius: 8px;
}

section.personal p {
    font-family: 'Poppins';
    font-weight: bold;
    text-align: justify;
    color: #820300;
}

/*
            Sección Habilidades
*/

section.skills{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #820300;
    border-radius: 8px;
}

.listblock{
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

section.skills h3{
    color: #FF9800
}

section.skills li{
    color: #FF9800;
}

/*
            SECCIÓN TRABAJOS REALIZADOS
*/

section.experience{
    height: 500px;
}

/*
            SECCIÓN FORMULARIO DE CONTACTO
*/

section.contact{
    height: 500px;
}